/*background*/
body {
  background:linear-gradient(to bottom, #1b2242 0%, #252539 80%);
  color: white;
}

h1{
  text-align: center;
}

/*sytle the header*/
header {
  width: 100%;
  position: relative;
}

.titles{
  margin: auto;
  text-align: center;
}

.status-left, .status-right{
  position: absolute;
  width: 120px;
  height:24px;
  border: dotted 1px grey;
  overflow: hidden;
}

.status-left{
  left:12px;
}

.status-right{
  right:12px;
}

/*sytle the footer*/
footer{
  position: fixed;
  bottom: 72px;
  width: 100%;
}

.info-left{
  position: absolute;
  left: 12%;
}

.info-right{
  position: absolute;
  right: 12%;
}

.titles-item{
  margin: auto;
  text-align: center;
}

/*sytle the main body*/
.container-3d {
  width: 100%;

}

.collections{
float: left;
transform-style: preserve-3d;
perspective-origin: 50% -25%;
perspective: 2000px;
margin-top: 25%;

}

.left{
margin-left: -180px;
}

.main{
  margin-left: 10%;
}

.right{
  margin-left: 10%;
}

.card{
   width: 480px;
   height: 270px;
   background-color: rgb(166, 225, 241);
   box-shadow: 0 45px 100px rgba(0, 0, 0, 0.4);
}

.layer-1{
  transform: translate3d(0px, 0px, 100px);
}

.layer-2{
  transform: translate3d(0px, -270px, -200px);
}

.layer-3{
  transform: translate3d(0px, -540px, -300px);
}

.layer-4{
  transform: translate3d(0px, -810px, -400px);
}

.layer-5{
  transform: translate3d(0px, -1080px, -500px);
}
